<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3306/static_data 
		</property>
		<property name= "hibernate.connection.username" >root
		</property>
  		<property name="hibernate.connection.password">root
  		</property >
  		<property name="hibernate.dialect">
   		org.hibernate.dialect.MySQLDialect
   		</property >
   		<property name ="hibernate.hbm2ddl.auto">insert</property>
   		<property name ="show_sql">true
   		</property>
 
   		<mapping class ="model.SDTable"/>
   		<mapping class ="model.Country"/>
   		<mapping class ="model.Employee"/>
   		   	   		
	</session-factory>
</hibernate-configuration>